
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
        <!-- Bouton navigation pour format mobile et petit écran -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menubar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">JdR-thèque</a>
      </div>

      <!-- Barre de navigation-->
      <div class="collapse navbar-collapse" id="menubar">
        <ul class="nav navbar-nav">
          <li><a href="/">Banque sonore</a></li>
          <li><a href="/">Banque d'images</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if (!user) { %>
            <li><a href="register"><span class="glyphicon glyphicon-user"></span> S'inscrire</a></li>
            <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
          <% } %>
          <% if (user) { %>
            <li><a href="register"><span class="glyphicon glyphicon-user"></span> <%= user.username %> </a></li>
            <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>
          <% } %>
        </ul>
      </div>

    </div>
  </div>
</nav>

<link rel="stylesheet" type="text/css" href="css/header.css">
