
<div class="container-fluid">
    <form class="form">
        <div class="row">
            <input type="text" class="form-control" id="titre_musique">
            <p class="form col-sm-6">Durée min. :</p>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="duree_musique">
            </div>
        </div>
        <div class="row">
            <p>Style(s) :</p>
        </div>
        <div class="row">
            <div class="checkbox">
              <label><input type="checkbox" value="">Style 1</label>
            </div>
        </div>
        <div class="row">
            <div class="checkbox">
              <label><input type="checkbox" value="">Style 2</label>
            </div>
        </div>
        <div class="row">
            <div class="checkbox">
              <label><input type="checkbox" value="">Style 3</label>
            </div>
        </div>
        <div class="row">
            <p>Scène(s) :</p>
        </div>
        <div class="row">
            <div class="checkbox">
              <label><input type="checkbox" value="">Scène 1</label>
            </div>
        </div>
        <div class="row">
            <div class="checkbox">
              <label><input type="checkbox" value="">Scène 2</label>
            </div>
        </div>
        <div class="row">
            <div class="checkbox">
              <label><input type="checkbox" value="">Scène 3</label>
            </div>
        </div>
        <div class="row">
            <p>Boucle ? :</p>
        </div>
        <div class="row">
            <label class="radio-inline"><input type="radio" name="optradio">Oui</label>
            <label class="radio-inline"><input type="radio" name="optradio">Non</label>
            <label class="radio-inline"><input type="radio" name="optradio">¯\_(ツ)_/¯</label>
        </div>
    </form>
</div>

<link rel="stylesheet" type="text/css" href="css/lateral_pannel_music.css">
