Flask>=1.0.0
Flask-Migrate~=2.1.1
Flask-SQLAlchemy~=2.5
Flask-Login~=0.6
Flask-WTF~=1.0
# mysqlclient~=1.3.13
email-validator~=1.2.1
pafy~=0.5
youtube-dl~=2021.12.17

# NB: Si l'installation de mysqlclient ne fonctionne pas, allez sur https://www.lfd.uci.edu/~gohlke/pythonlibs/ pour télécharger le wheel file approprié et le pip installer.
