{% extends "base_template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-3 px-3 text-bg-dark text-center">
            <h3>Rechercher une musique</h3>
            <form method="post" action={% url 'music-search' %}>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Rechercher"/>
            </form>
            <a href="{% url 'music-add' %}" class="btn btn-secondary my-3">Ajouter une musique</a>
        </div>
        <div class="col-9">
            <ul id="music_list" class="list-group">
                {% for music in object_list %}
                <li class="list-group-item media">
                    <div class="media-body">
                        <h5 class="list-group-item-head">{{ music.title }} : 
                            {% if music.loop %}
                                <img style="width:20px;" src={% static '/images/loop.png' %} class="img-fluid rounded">
                            {% endif %}</h5>
                        <p class="list-group-item-text">
                            <span class="badge">Vote : {{ music.vote }}</span>
                            {% for style in music.styles %}
                                <span class="label label-primary">{{ style.name }}</span>
                            {% endfor %}
                            |
                            {% for scene in music.scenes %}
                                <span class="label label-primary">{{ scene.name }}</span>
                            {% endfor %}
                            |
                            <span class="label label-primary">{{ music.genre__name }}</span>
                        </p>
                    </div>
                    <div class="media-right media-middle">
                        <audio controls>
                            <source class="media-object" src="{{ music.sound_url }}">
                        </audio>
                    </div>
                </li>
                {% empty %}
                <h2>No music to display.</h2>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}