{% extends "base_template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-3 mx-auto text-center">
            <h3>Rechercher une musique</h3>
            <form method="post" action={% url 'music-search' %}>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Rechercher"/>
            </form>
            <a href="{% url 'music-add' %}" class="btn btn-secondary my-3">Ajouter une musique</a>
        </div>
        <div class="col-8 mx-auto">
            <ul id="music_list" class="list-group">
                {% for music in object_list %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="media">
                        <div class="media-body">
                            <h5>{{ music.title }}
                                {% if music.loop %}
                                    <img style="width:20px;" src={% static '/images/loop.png' %} class="img-fluid rounded">
                                {% endif %}</h5>
                            <p>
                                {% for style in music.styles.all %}
                                    <span class="label label-primary">{{ style.name }}</span>
                                {% endfor %}
                                |
                                {% for scene in music.scenes.all %}
                                    <span class="label label-primary">{{ scene.name }}</span>
                                {% endfor %}
                                |
                                {% for genre in music.genres.all %}
                                    <span class="label label-primary">{{ genre.name }}</span>
                                {% endfor %}
                            </p>
                        </div>
                        <audio controls class="col-12">
                            <source class="media-object" src="{{ music.sound_url }}">
                        </audio>
                    </div>
                    <span class="badge bg-primary rounded-pill">{{ music.vote }}</span>
                </li>
                {% empty %}
                <h2>No music to display.</h2>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}