{% extends "base_template.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-sm-4" style="text-align: center">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% comment %} <a href="{{ url_for('music_add') }}" class="btn btn-default">Ajouter une musique</a>
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.title.label }}<br>
                            {{ form.title(class="form-control") }}
                            {% for error in form.title.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.loop.label }}<br>
                            {{ form.loop(class="form-control") }}
                            {% for error in form.loop.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.genre.label }}<br>
                            {{ form.genre(class="form-control") }}
                            {% for error in form.genre.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.style_tags.label }}<br>
                            {{ form.style_tags(class="form-control") }}
                            {% for error in form.style_tags.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.scene_tags.label }}<br>
                            {{ form.scene_tags(class="form-control") }}
                            {% for error in form.loop.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </p>
                        <p>{{ form.submit(class="btn btn-primary") }}</p>
                    </form> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <ul id="music_list" class="list-group">
                {% for music in object_list %}
                <li class="list-group-item media">
                    <div class="media-body">
                        <h5 class="list-group-item-head">{{ music.title }} : 
                            {% if music.loop %}
                                <img style="width:20px;" src={% static '/images/loop.png' %} class="img-fluid rounded">
                            {% endif %}</h5>
                        <p class="list-group-item-text">
                            <span class="badge">Vote : {{ music.vote }}</span>
                            {% for style in music.styles %}
                                <span class="label label-primary">{{ style.name }}</span>
                            {% endfor %}
                            |
                            {% for scene in music.scenes %}
                                <span class="label label-primary">{{ scene.name }}</span>
                            {% endfor %}
                            |
                            <span class="label label-primary">{{ music.genre__name }}</span>
                        </p>
                    </div>
                    <div class="media-right media-middle">
                        <audio controls>
                            <source class="media-object" src="{{ music.sound_url }}">
                        </audio>
                    </div>
                </li>
                {% empty %}
                <h2>No music to display.</h2>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}