{% load static %}
{% load crispy_forms_tags %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>JdR-thèque - {{ title }}</title>
        {% else %}
        <title>JdR-thèque</title>
        {% endif %}

        <!-- Bootstrap from a CDN https://getbootstrap.com/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <!-- Bootstrap icons from a CDN https://icons.getbootstrap.com/ -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        
        <!-- Responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Custom CSS -->
        
    </head>
    <body>
        <header>
            {% block header %}
            <nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-lg">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <!-- Bouton navigation pour format mobile et petit écran -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menubar" aria-controls="menubar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <!-- Barre de navigation-->
                    <div class="collapse navbar-collapse" id="menubar">
                        <a class="navbar-brand" href="/">JdR-thèque</a>
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link" href="{% url 'music-list' %}">Banque sonore</a></li>
                            <li class="nav-item"><a class="nav-link disabled" href="/">Scénarii</a></li>
                            <li class="nav-item"><a class="nav-link disabled" href="/">Ressources</a></li>
                        </ul>
                        <ul class="navbar-nav  me-2">
                            {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">{{ user.username }}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a></li>
                            {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">S'inscrire</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Se connecter</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% endblock %}
        </header>

        <main>
            {% if messages %}
                {% for message in messages %}
                <div class="container">
                    {% if message.tags %}
                        {% if message.tags == "error" %}
                        <div class="alert alert-danger alert-dismissible " role="alert">
                        {% else %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible " role="alert">
                        {% endif %}
                    {% else %}
                    <div class="alert alert-primary alert-dismissible " role="alert">
                    {% endif %}
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </main>

        <footer>
            {% block footer %}
            <br><br>
            <p class="text-center text-muted">© Copyright 2017-2022 - Site web imaginé et codé avec amour par <a href="https://github.com/Teazane/JdRtheque">Teazane</a></p>
            {% endblock %}
        </footer>
    </body>
</html>
