{% extends "base_template.html" %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1 class="display-1 fw-bold">JdR-thèque</h1>
            <p class="text-muted">Bienvenue sur la plate-forme de partage de ressources pour JdR !</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-center mx-auto">
            <h1></h1>
            <p class="lead">
                Salut à vous noble meujeu ou simple rôliste, la JdR-thèque est heureuse de vous accueillir !
                </br>
                Vous trouverez ici diverses aides pour vos JdR :
                des musiques classées par styles de JdR (horreur, médiéval, steampunk, ...) et par scènes (combat, calme, découverte, ...), des scénar', 
                des fiches perso' et bien d'autres babioles. 
                </br></br>
                La plate-forme est encore en développement alors référez vous aux sections disponibles dans le menu, comme tout être humain normal, pour savoir où j'en suis rendue, 
                profiter de tout ça (et me signaler les bêtises que j'ai faites au passage). 
                </br></br>
                Que les dés vous soient favorables. 42. Vous avez perdu. Voilà voilà.
            </p>
        </div>
    </div>
{% endblock %}
