{% extends "base_template.html" %}

{% block content %}
    <main>
        <div class="jumbotron row">
            <h1>JdR-thèque</h1>
            <p>Bienvenue sur la plate-forme de partage de ressources pour JdR !</p>
        </div>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <p>Salut à vous noble meujeu ou simple rôliste, la JdR-thèque est heureuse de vous accueillir. Vous trouverez ici diverses aides pour vos JdR :
              des musiques classées par styles et par scènes, des images et pourquoi pas, allez soyons fous, des scénar', des fiches perso' et autres babioles
              que j'aurai décidé de coder. Référez vous aux sections disponibles dans le menu comme tout être humain normal pour savoir où j'en suis rendue,
              profiter de tout ça (et me signaler les bêtises que j'ai faites au passage). Que les dés vous soient favorables. 42. Vous avez perdu. Voilà voilà.
            </p>
          </div>
        </div>
    </main>
{% endblock %}
