{% extends "base_template.html" %}

{% block content %}
    <main>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" align="center">
                <h1>Connexion</h1>
                <form class=form" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.login.label }}<br>
                        {{ form.login(class="form-control") }}
                        {% for error in form.login.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(class="form-control") }}
                        {% for error in form.password.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(class="btn btn-primary") }}</p>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </main>
{% endblock %}