{% extends "base_template.html" %}

{% block content %}
    <main>
        <div class="row">
            <div class="col-sm-4" style="text-align: center">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="{{ url_for('music_add') }}" class="btn btn-default">Ajouter une musique</a>
                            <form action="" method="post" novalidate>
                                    {{ form.hidden_tag() }}
                                    <p>
                                        {{ form.title.label }}<br>
                                        {{ form.title(class="form-control") }}
                                        {% for error in form.title.errors %}
                                            <div class="alert alert-danger">{{ error }}</div>
                                        {% endfor %}
                                    </p>
                                    <p>
                                        {{ form.loop.label }}<br>
                                        {{ form.loop(class="form-control") }}
                                        {% for error in form.loop.errors %}
                                            <div class="alert alert-danger">{{ error }}</div>
                                        {% endfor %}
                                    </p>
                                    <p>
                                        {{ form.style_tags.label }}<br>
                                        {{ form.style_tags(class="form-control") }}
                                        {% for error in form.style_tags.errors %}
                                            <div class="alert alert-danger">{{ error }}</div>
                                        {% endfor %}
                                    </p>
                                    <p>
                                        {{ form.scene_tags.label }}<br>
                                        {{ form.scene_tags(class="form-control") }}
                                        {% for error in form.loop.errors %}
                                            <div class="alert alert-danger">{{ error }}</div>
                                        {% endfor %}
                                    </p>
                                    <p>{{ form.submit(class="btn btn-primary") }}</p>
                                </form>
                        </div>
                    </div>
            </div>
            <div class="col-sm-8">
                <ul id="music_list" class="list-group">
                {% for music in musics %}
                    <li class="list-group-item">
                        <h4 class="list-group-item-head">{{ music.title }} : {{ music.duration }} s. - {{ music.loop }}</h4>
                        <span class="badge">Vote : {{ music.vote }}</span>
                        <h5 class="list-group-item-text">
                            {% for style in music.style_tags %}
                                <span class="label label-primary">{{ style.name }}</span>
                            {% endfor %}
                            |
                            {% for scene in music.scene_tags %}
                                <span class="label label-primary">{{ scene.name }}</span>
                            {% endfor %}
                        </h5>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </main>
{% endblock %}