{% extends "base_template.html" %}

{% block content %}
    <main>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" align="center">
                <h1>Inscription</h1>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.login.label }}<br>
                        {{ form.login(class="form-control") }}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(class="form-control") }}
                    </p>
                    <p>
                        {{ form.password_confirmation.label }}<br>
                        {{ form.password_confirmation(class="form-control") }}
                    </p>
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(class="form-control") }}
                    </p>
                    <p>{{ form.submit(class="btn btn-primary") }}</p>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </main>
{% endblock %}