{% extends "base_template.html" %}

{% block content %}
    <div class="row">
        <div class="bg-light rounded-3 p-5">
            <h2 class="fw-bold">Vos informations</h2>
            <p>
                Votre pseudo : {{ user.username }}</br>
                Votre adresse mail : {{ user.email }}</br>
                Votre prénom : {{ user.first_name }}</br>
                Votre nom : {{ user.last_name }}</br>
                Date d'inscription : {{ user.date_joined }}</br>
                Dernière connexion : {{ user.last_login }}
            </p>
            <a class="btn btn-primary" href="#">Modifier les informations de votre compte</a>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row text-center">
            <h2 class="fw-bold mb-3">Vos ressources</h2>
            <div class="col-4">
                <h5>Vos playlists</h5>
                <p>
                    Accédez aux playlists que vous avez constituées.
                </p>
                <a class="btn btn-primary" href="#">Voir mes playlists</a>
            </div>
            <div class="col-4">
                <h5>Vos scénarii</h5>
                <p>
                    Accédez aux scénarii que vous avez marqués comme favoris.
                </p>
                <a class="btn btn-primary" href="#">Voir mes scénarii</a>
            </div>
            <div class="col-4">
                <h5>Vos ressources</h5>
                <p>
                    Accédez aux ressources que vous avez marquées comme favoris.
                </p>
                <a class="btn btn-primary" href="#">Voir mes ressources</a>
            </div>
        </div>
    </div>
{% endblock %}