{% extends "base_template.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-6 text-center mx-auto">
            <h1>Connexion</h1>
            <form class="form" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Connexion"/>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-center mx-auto">
            <p>Nouveau ici ? <a href="{% url 'user:register' %}">Créer un compte.</a></p>
        </div>
    </div>
{% endblock %}